@import "../../../theme"

.dialog-window
  width: 350px

  &__title
    font-size: 1.2em
    font-weight: bold

  &__warning-text
    font-size: 1.1em

  &__buttons
    display: flex
    flex-direction: column
    gap: 5px

  &__action-buttons
    display: flex
    gap: 5px

    button
      width: 100%

  button
    padding: 3px
    border-radius: 5px
    font-weight: bold
    border: none
    font-size: 1.2em
    cursor: pointer

.positive-button
  background-color: $positive
  color: $on_positive

  &:hover
    background-color: $positive_hover

.negative-button
  background-color: $negative
  color: $on_negative

  &:hover
    background-color: $negative_hover

.cancel-button
  background-color: $neutral
  color: $on_neutral

  &:hover
    background-color: $neutral_hover
