.chat
  height: 100%
  padding: 10px
  overflow-y: auto
  display: flex
  flex-direction: column-reverse

  &__wrapper
    display: flex
    flex-direction: column

  &__date
    font-weight: bold
    font-size: 1.5em
    align-self: center
    margin: 5px
    padding: 0 5px
    background-color: #bdbdbd
    border-radius: 5px