$window-width: 100vw
$window-height: 100vh

.messenger
  width: 100%
  height: 100%
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  gap: 5px

  &__wrapper
    width: 80%
    height: 90%
    overflow: hidden
    display: flex
    border-radius: 10px

  &__menus
    position: absolute
    pointer-events: none
    width: 100%
    height: 100%

  &__chat-space
    width: 100%
    height: 100%
    display: flex
    background-color: lightgray
    flex-direction: column

  &__unselected-chat-alert
    height: inherit
    display: flex
    justify-content: center
    align-items: center
    font-weight: bold

.left-side
  width: 30%
  display: flex
  flex-direction: column
  background-color: #b6b6b6

  &__chat-info
    padding: 5px
    background-color: #76c0b9
    border-bottom: 5px solid black
    display: flex
    justify-content: space-between
    z-index: 2

    img
      width: 40px
      height: 40px

  &__chat-tabs
    height: 100%
    overflow-x: hidden
    overflow-y: auto

    &::-webkit-scrollbar
      display: none

    a
      text-decoration: none
      color: black

.info-header
  height: 80px
  background-color: #13a689
  display: flex
  border-radius: 5px 5px 0 0

  &__icon-area
    width: 80px
    display: flex
    align-items: center
    justify-content: center

    img
      width: 60px
      height: 60px
      background-color: white
      border-radius: 50%
      margin: 5px

  &__text-area
    justify-content: center
    display: flex
    flex-direction: column

.info-body
  height: 100%
  overflow-y: auto

.info-footer
  height: 20px
  background-color: #0c4b3f
  border-radius: 0 0 5px 5px