.dialog-menu
  width: max-content

  &__title
    font-size: 1.2em
    font-weight: bold

  &__items-box
    width: 100%
    align-items: center

  &__item
    text-align: center
    margin: 5px 0 0
    padding: 5px
    font-weight: bold
    border: 3px solid #4f4f4f
    color: #4f4f4f
    border-radius: 10px
    cursor: pointer

    &:hover
      background-color: #9a9a9a
      border-color: #9a9a9a
      color: white

    &_danger
      border-color: #e74343
      color: #e74343

      &:hover
        background-color: #e74343
        border-color: #e74343